In [ ]:
import pandas as pd
import numpy as np

## Hierarchical indexing

In [31]:
np.random.seed(10) # Same values each time
data = pd.Series(np.random.randn(9),
                 index =[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                         [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [32]:
data

a  1    1.331587
   2    0.715279
   3   -1.545400
b  1   -0.008384
   3    0.621336
c  1   -0.720086
   2    0.265512
d  2    0.108549
   3    0.004291
dtype: float64

In [53]:
data.loc[['b','d']]

b  1   -0.008384
   3    0.621336
d  2    0.108549
   3    0.004291
dtype: float64

In [35]:
data.loc['b',3] # index b row 3

data.loc[:,2] # row 3 of all index values with a row 3

a    0.715279
c    0.265512
d    0.108549
dtype: float64

In [37]:
data

a  1    1.331587
   2    0.715279
   3   -1.545400
b  1   -0.008384
   3    0.621336
c  1   -0.720086
   2    0.265512
d  2    0.108549
   3    0.004291
dtype: float64

In [41]:
data.unstack() # convert into a dataframe 

data.unstack().stack() # inverse of unstack, converts it back

a  1    1.331587
   2    0.715279
   3   -1.545400
b  1   -0.008384
   3    0.621336
c  1   -0.720086
   2    0.265512
d  2    0.108549
   3    0.004291
dtype: float64

## Indexing dataframe columns

In [43]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two','two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]})

frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [51]:
frame2 =frame.set_index(['c','d']) # new df using the columns as index

frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [52]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# Pandas tutorial